# Server identity / Load balancing
SERVER_INSTANCE_ID=server1
PORT=3000

# Database & Cache (Docker service names)
MONGO_URI=mongodb://mongodb:27017/beatmux
REDIS_URL=redis://redis:6379

# JWT Secrets
JWT_SECRET=6ZRm24Zh8azhY3DMgkHWcgS4BHhpzU9s

# Client URL (Nginx endpoint)
CLIENT_URL=http://localhost:8080

# Cloudinary Integration (SERVER-SIDE ONLY)
CLOUDINARY_CLOUD_NAME=beatmux
CLOUDINARY_API_KEY=337323999883349
CLOUDINARY_API_SECRET=1itCmJ8ZuhnRLI7fZVKkaeAZXC0
